<ion-app>
 

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

      <ion-list lines="inset">

        <ion-item>
          <ion-button fill="clear" color="success">
          <ion-icon name="home" size="large"></ion-icon>
        </ion-button>
          <ion-button fill="clear" color="success">Inicio</ion-button>
        </ion-item>

        <ion-item>
          <ion-button fill="clear" color="success">
          <ion-icon name="person" size="large"></ion-icon>
        </ion-button>
          <ion-button fill="clear" color="success">Perfil</ion-button>
        </ion-item>

        <ion-item>
          <ion-button fill="clear">
          <ion-icon name="call" size="large"></ion-icon>
        </ion-button>
          <ion-button fill="clear">Contactenos</ion-button>
        </ion-item>

        <ion-item>
          <ion-button fill="clear">
          <ion-icon name="exit" size="large"></ion-icon>
        </ion-button>
          <ion-button fill="clear">Salir</ion-button>
        </ion-item>



        
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title id="izquierda">SENA</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-router-outlet></ion-router-outlet>
    
  </div>

</ion-app>

