#color-fondo-uno{
  width: auto;
  height: auto;
  background-color: white;
  margin: 0%;
  border-radius: 0%;
  
}

#color-fondo-dos{
  width: auto;
  height: auto;
  background-color: rgb(255, 255, 255);
  margin: 0%;
  border-radius: 0%;
}

/*tres botones superiores*/

.tres-botones{
  margin-top: 100px;
  width: auto;
}

#color-texto-noticias{
  font-size: 30px;
}